<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JQuery Todo</title>
    <style>
        .done {
            /* 中间有条线  并呈现灰色 */
            text-decoration: line-through;
            color: #eee;
        }

        li {
            cursor: pointer;
        }
    </style>
</head>

<body><!-- //绑定事件add//v-是指令 -->
    <div id="app">
            <input 
            type="text" 
            class="input"
            v-model="inputVal"
            @keyup.enter="add"
        >
        <p>列表：</p>
        <!-- //循环 -->
        <ul>
            <li
                v-for="(item,index) in list"
                @click="item.done=!item.done"
                :class="{
                    done:item.done,
                }"
                @contextmenu="remove(index,$event)"
            >
                {{item.text}}
            </li>
        </ul>
    </div>

    <!-- //bootcdn -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.0.2/vue.global.js  "></script>
    <script>
        //声明一个对象 配置的形式  组件
        const Todo ={
            data(){
                return{//两个数据 一个是list要渲染的列表 一个是inputVal输入的数
                    list:[{
                        text:'今天打豆豆',
                        done:false,
                    }],
                    inputVal:'',
                };
            },

            methods:{
                add(){
                    const val=this.inputVal;

                    this.list.push({
                        text:val,//文案
                        done:false,//动作有没有完成
                    });
                    this.inputVal='';//输入一串字符到list里面 输入框置为空
                },

                remove(index,e){
                    e.preventDefault();//取消默认方式 右键出现选项框
                    this.list.splice(index,1);
                },
            },
        };

        Vue.createApp(Todo).mount('#app');//利用根组件创造一个应用
    </script>
</body>

</html>